
/* -------------------------------------------------------- */
/* ----------------- General Page Layout ------------------ */
/* -------------------------------------------------------- */

body
{
    background-color: #f0f0f8;
    padding: 0px;
    margin: auto;
    color: #454545;
    font-size: 22px;
    line-height: 1.4;
    max-width: 80%;
    font-family: "Roboto","Segoe UI","helvetica neue";
}

h1
{
    margin-top: 0px;
    font-weight: bolder;
    text-align: center;
}

h2
{
    margin-top: 0px;
    font-weight: bolder;
    text-align: left;
}

.central
{
    margin: 0px;
    padding: 0px;
}

.topbar h1
{
    text-align: right;
}

.topbar
{
    text-align: left;
    width: 100%;
    margin-top: 20px;
    margin-right: 120px;
}

.main
{
    padding: 4px;
}

/* -------------------------------------------------------- */
/* --------------------- Navigation Bar ------------------- */
/* -------------------------------------------------------- */


.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.navBarParent {
  float: left;
  overflow: hidden;
}

.navBarParent a {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  width: 100%;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover{
  background-color: #dd4444;
}

.navbar .navBarChild a {
  padding: 12px 16px;
  color: black;
  text-decoration: none;
  text-align: left;
  background-color: #e0e0e0;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar .navBarChild a:hover {
  padding: 12px 16px;
  color: black;
  text-decoration: none;
  text-align: left;
  background-color: #c0c0c0;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navBarChild {
  display: none;
  position: absolute;
  z-index: 1;
}

.navBarChild .navBarParent {
  float: none;
  display: block;
}
.navBarChild .navBarParent:hover {
  background-color: #ddd;
}

.navBarParent:hover .navBarChild {
  display: block;
  margin-top: 50px;
  margin-bottom: -50px;
} 

.flex-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

/* -------------------------------------------------------- */
/* ---------------- Maps and Locations -------------------- */
/* -------------------------------------------------------- */

#mapContainer
{
    min-width: 800px;
    width: 60vw;
    height: 45vw;
    border: 1px solid black;
    background-color: #eee;
    position: relative;
    margin: 4px;
    overflow: hidden;
    background-size: 100% 100%;
    background-position: 50% 50%;
    margin: auto;
}

#descriptionPadder
{
  margin: auto;
  padding: 6px;
  width: 600px;
  min-width: 600px;
  height: 100%;
  min-height: 100%;
}

#descriptionContainer
{
    border: 1px solid black;
    background-color: #eee;
    padding: 4px;
    margin: 2px;
}

#descriptionTitle
{
    width: 80%;
    margin:  auto;
}

#descriptionText
{
    width: 80%;
    padding: 12px;
    white-space:pre-wrap;
    margin:  auto;
}

.mapLocation
{
    width: 50px;
    height: 50px;
    margin-left: -25px;
    margin-top: -50px;
    position: absolute;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mapTooltip
{
    left: 50px;
    bottom: 50px;
    position: absolute;
    border-radius: 12px;
    border: 1px solid #222222;
    padding: 8px;
    background-color: #CD853F;
}

#locationLabel
{
  position: absolute;
  right: 2px;
  bottom: 2px;
  background-color: #222222CC;
  width: 180px;
  height: 30px;
  border-radius: 4px;
  text-align: center;
}