{% capture html %}
    {% if include.context == "/pages/" %}
        {% assign homeActive = false %}
        
        {% if page.url == "/" %}
            {% assign homeActive = true %}
        {% endif %}
        <a class="{% if homeActive %}active{% endif %}" href="{{ site.baseurl }}/"> Home </a>
    {% endif %}

    {% assign entries = site.pages | sort: "path" %}
    {% for entry in entries %}

        {% capture slug    %}{{ entry.url | split: "/"   | last                       }}{% endcapture %}
        {% capture current %}{{ entry.url | remove: slug | remove: "//"  }}{% endcapture %}
        {% capture localSlug %}{{ page.url | split:"/" | last }}{% endcapture %}
        {% capture parent %}{{ page.url | remove: localSlug| split:"/" | last }}{% endcapture %}
        {% capture slugName %}{{ slug | remove: ".html" }}{% endcapture %}
        {% capture child %}{{ entry.url | remove: ".html" | append: "/" }}{% endcapture %}

        {% if current == include.context %}
            {% assign addActive = false %}
            {% if page.url contains entry.url or parent == slugName %}
                {% assign addActive = true %}
            {% endif %}

            <div class="navBarParent {% if addActive %}activeParent{% endif %}">
                <a class="{% if page.url contains entry.url %}active{% endif %}"href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}
                </a>
                <div class="navBarChild">
                    {% include nav.html context=child %}
                </div>
            </div>
        {% endif %}


    {% endfor %}
{% endcapture %}{{ html | strip_newlines | replace:'    ','' | replace:'    ','' | replace:'  ',' ' }}