<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">

  </head>
  <body>
    <div class="topbar">
      {% include topbar.html %}
    </div>
    <div class="central">
        <div class="navbar">
            {% include nav.html context="/pages/" %}
        </div>
        <div class="main">
            {{ content }}
        </div>
    </div>

    <div class="bottom"></div>

  </body>
</html>