<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">

    <!-- Initialize mapInfo, which is unique for each map -->
    <script>
      var mapInfo = {{ page.locations | jsonify }}
    </script>

    <script src="{{site.baseurl}}/js/maploader.js"> </script>

  </head>
  <body>
    <div class="topbar">
      {% include topbar.html %}
    </div>
    <div class="central">
        <div class="navbar">
            {% include nav.html context="/pages/" %}
        </div>
        <div class="main">
            
            <div class="flex-container">
              <div id="mapContainer" style="background-image: url('{{site.baseurl}}/images/map-backgrounds/{{page.map}}');
                ">
                <!-- Javascript will insert components from page.locations here -->

                <div id="locationLabel"></div>
              </div>

              <div id="descriptionPadder">
              <div id="descriptionContainer">
                <!-- Javascript will assign these elements from onclick events -->
                <h1 id="descriptionTitle"> </h1>
                <div id="descriptionText"> </div>
              </div>
              </div>
            </div>

        </div>
    </div>

    <div class="bottom"></div>

  </body>
</html>